@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:wght@300&display=swap');

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Permanent Marker', cursive;
}

html {
    scroll-behavior: smooth;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.75rem;
}

.nav-item a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.landing {
    padding: 1px;
    background: url('https://res.cloudinary.com/dbhwyosdi/image/upload/v1683725885/Esports%20Teammates/pexels-lucie-liz-3165335-min_zdrnet.jpg') center center / cover no-repeat;
    background-position: center;
    height: 130%;
    object-fit: cover;
}

.error {
    padding: 1px;
    background: url('https://res.cloudinary.com/dbhwyosdi/image/upload/v1683725885/Esports%20Teammates/pexels-alena-darmel-7862628-min_j73nai.jpg') center center / cover no-repeat;
    background-position: center;
    height: 130%;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.extra-margin {
    margin: 2%;
}

.smoke-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    margin: 3%;
}

.brand {
    font-family: Exo, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #D90368;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #b8cbf5;
}

.dark-bg {
    background-color: #1F1A38;
}

.main-bg {
    background-color: rgb(209, 189, 235);
}

.game-picture {
    width: 100%;
}

.card {
    border: none;
    background-color: transparent;
}

.card-text {
    color: #382281;
}

.image-container {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #310A31;
}

.game {
    color: #ff78b8;
    margin: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
}

.masthead-text {
    background-color: #1F1A38;
    color: #FFA0FD;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #5434c3;
}

.post-link:hover,
.page-link {
    color: #D90368;
}

.post-title {
    margin: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #FFA0FD;
}

.btn-signup {
    background-color: #6E44FF;
    color: #ffe7fe;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ffe7fe;
    color: #6E44FF;
}

.link {
    color: #6E44FF;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #D90368;
    text-decoration: underline;
}

.fill {
    height: 2vh;
}

@media screen and (max-width: 1000px) {
    .fill {
        height: 20vh;
    }
}

@media screen and (max-width: 767px) {
    .card-img-top {
        height: 50vw;
    }
}