body {
    background-color: white;
}

.landing {
    padding: 1px;
    background: url('https://res.cloudinary.com/dbhwyosdi/image/upload/v1682774287/Esports%20Teammates/pexels-lucie-liz-3165335_csvcqh.jpg') center center / cover no-repeat;
    background-position: center;
    height: 150%;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
}

.extra-margin {
    margin: 2%;
}

.smoke-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    margin: 3%;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #D90368;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #b8cbf5;
}

.dark-bg {
    background-color: #1F1A38;
}

.main-bg {
    background-color: rgb(209, 189, 235);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #310A31;
}

.game {
    color: #D90368;
    margin: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #1F1A38;
    color: #FFA0FD;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1F1A38;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #6E44FF;
}

.post-link:hover,
.page-link {
    color: #D90368;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: FFA0FD;
}

.btn-signup {
    background-color: #6E44FF;
    color: #FFA0FD;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #FFA0FD;
    color: #6E44FF;
}

.link {
    color: #6E44FF;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #D90368;
    text-decoration: underline;
}