{% extends 'base.html' %} {% block content %}

<!-- Add team (post) page -->
{% load crispy_forms_tags %}
<div class="container-fluid">
    {% if user.is_authenticated %}
        <h1>Add a Team Ad:</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-signup btn-md mt-2" type="submit">New Team Ad</button>
        </form>
    {% else %}
        {% include "landing_page.html" %}
        <div class="fill dark-bg">

        </div>
    {% endif %}
</div>
{% endblock content %}