{% extends 'base.html' %}
<!-- Delete a comment page -->
{% block content %}
<div class="container-fluid">
{% if user.is_authenticated and comment.name == request.user.username %}
    <div class="card-container my-5">
        <div class="col-12">
            <form method="POST" action=".">
                {% csrf_token %}
                <h2 class="text-center">Are you sure you want to delete your comment?</h2>
                <div class="text-center">
                    <input class="btn btn-signup btn-md mt-2" type="submit" value="Yes!" />
                </div>
                <div class="text-center">
                    <a class="btn btn-signup btn-md mt-2" href="/">No, go back!</a>
                </div>
            </form>
        </div>
    </div>
{% else %}
{% include "tamper.html" %}
<div class="fill dark-bg">

</div>
{% endif %}
</div>
{%endblock%}