<!-- Landing page for non authenticated users -->
<div class="landing">
    <div class="content-center smoke-bg top-margin border border-primary">
        <h2 class="brand extra-margin text-center">Tired of gaming alone?<br/>Find your ultimate esport team!</h2>
    </div>

    <div>
        <div class="content-center smoke-bg extra-margin border border-primary">
            <a class="btn btn-outline-primary content-center brand" href="{% url 'account_signup' %}">Register</a>
            <a class="btn btn-outline-primary content-center brand" href="{% url 'account_login' %}">Login</a>
        </div>
    </div>

    <div class="content-center smoke-bg border border-primary">
        <h2 class="brand extra-margin text-center">Join our community now!<br/>You must be logged in to see the content of this website!</h2>
    </div>
</div>
