<div class="landing">  
    <div class="content-center smoke-bg">
        <h1 class="brand extra-margin">Find your ultimate online buddies!</h1>
    </div>

    <div>
        <div class="content-center smoke-bg extra-margin">
            <a class="btn btn-outline-primary content-center brand" href="{% url 'account_signup' %}">Register</a>
            <a class="btn btn-outline-primary content-center brand" href="{% url 'account_login' %}">Login</a>
        </div>
    </div>

    <div class="content-center smoke-bg">
        <h2 class="brand extra-margin">You must be logged in to see the content of this website!</h2>
    </div>
</div>
