<div class="landing">  
    <div class="content-center">
        <h1>Find your ultimate esport buddies!</h1>
    </div>

    <div class="button-center">
        <a class="btn btn-primary content-center btn-color" href="{% url 'account_signup' %}">Register</a>
        <a class="btn btn-primary content-center btn-color" href="{% url 'account_login' %}">Login</a>
    </div>

    <div class="content-center">
        <h2>You must be logged in to see the content of this website!</h2>
    </div>
</div>


