<!-- Page for users trying to tamper the site -->
<div class="landing border border-danger">

    <div class="content-center smoke-bg top-margin border border-primary">
        <h2 class="brand extra-margin text-center">As expected...<br/>This content doesn't belong to you</h2>
    </div>

    <div>
        <div class="content-center smoke-bg extra-margin border border-primary">
            <a class="btn btn-outline-primary content-center brand" href="{% url 'home' %}">Take me home</a>
        </div>
    </div>

</div>
