{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">
                    {{ team.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ team.author }} | {{ team.created_on }}</p>
                <p class="post-subtitle"> Looking for:&emsp;<strong>{{ team.role }}</strong></p>
                <p class="post-subtitle">Required experience:&emsp;<strong>{{ team.skill_level }}</strong></p>
            </div>
            <div class="col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in team.featured_image.url %}
                <img class="game-picture" src="https://res.cloudinary.com/dbhwyosdi/image/upload/v1683725885/Esports%20Teammates/pexels-yan-krukau-9072394-min_cgovlw.jpg" alt="Game picture">
                {% else %}
                <img class="game-picture" src="{{ team.featured_image.url }}" alt="Game picture">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-0">
        <div class="col card mb-2">
            <div class="card-body text-center">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">{{ team.description | safe }}</p>
                <div class="row">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ total_comments }}
                    </strong>
                    {% endwith %}
                </div>
                {% if user.is_authenticated and user.id == team.author.id %}
                    <a class="btn btn-signup btn-md mt-2" href="{% url 'edit_team' team.slug %}">Edit</a>
                    <a class="btn btn-signup btn-md mt-2" href="{% url 'delete_team' team.slug %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
<div class="row container-fluid">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h2>Comments:</h2>
        <div class="card-body">
            <!-- We want a for loop inside the tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    {{ comment.name }}
                    <span class="card-text font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
                {% if comment.name == request.user.username %}
                    <a class="btn btn-signup btn-md mt-2" href="{% url 'edit_comment' comment.pk %}">Edit</a>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            <!-- For later -->
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is successfully added!
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h2>Leave a comment:</h2>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
    {% include "landing_page.html" %}
    <div class="fill dark-bg">

    </div>
{% endif %}
{% endblock content %}